   
body {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    color: rgb(2, 1, 5);
  }
  
  body::after {
    content: "";
    background: url("bg.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }
  dl {
    border-bottom:4px solid;
  }
  dt {
    border-bottom:2px solid;
  }
.none {
  border: none;
}
.cell {
  padding: 5px 9px;
  border: 1px solid rgb(3, 2, 2);
  display: table-cell;
}
.table {
  display: table;
}
.row {
  display: table-row;
}

.timetable-cell {
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 5px 9px;
  display: table-cell;
}